.swifty-status {
  text-align: center;
  font-family: "Delius Unicase", cursive; /* Use the Delius Unicase font */
  color: #1e1e1e;
  font-size: 1rem;
}

.swifty-status h2 {
  color: #ff69b4;
  font-size: 2rem;
}

.enter-name label {
  margin-bottom: 10px;
  margin-right: 10px;
}

.enter-name input {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.swifty-status p {
  margin: 10px 0;
}

.swifty-status button {
  background-color: #ff69b4;
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swifty-status button:hover {
  background-color: #ffc0cb;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  color: #1e1e1e;
}
